@font-face {
	font-family: SideFont;
	src: url('Fonts/Aero Matics Display Regular.ttf');
}

@font-face {
	font-family: CreditsMain;
	src: url('Fonts/rakesly rg.ttf');
}

@font-face {
	font-family: Lexend;
	src: url('Fonts/Lexend-Regular.ttf');
}

body {
	background-image: url('boot_brick_bg.jpg');
	background-attachment: fixed;
	background-color: #222;
	background-size: cover;
}

#mainblock {
	position: relative;
	width: 950px;
	margin: auto;
	top: 3.5%;
	margin-bottom: 64px;
}

#headerblock {
	background-repeat: no-repeat;
	background-image: url('header_bg.png');
	height: 100px;
	width: 600px;
	position: relative;
	margin: auto;
	text-align: center;
}

#headerblock ul {
	margin: auto;
	position: absolute;
	bottom: 8px;
	padding: 0;
	width: 100%;
}

#headerblock ul li {
	display: inline-block;
	list-style-type: none;
	background-size: cover;
	margin-right: 8px;
}

#sidename {
	position: absolute;
	left: -100px;
	top: 150px;
	height: 400px;
	width: 100px;
	background: url('side_name.png');
	background-repeat: no-repeat;
	z-index: -1;
}

#sidename_text {
	color: #222;
	font-family: SideFont;
	font-size: 36pt;
	transform: rotate(-90deg);
	position: absolute;
	top: 50%;
	left: -8px;
	letter-spacing: 2px;
	opacity: 0.9;
}

#hovertip {
	position: absolute;
	padding: 8px;
	font-size: 20px;
	color: white;
	background-color: #222;
	border: 1px solid #aaa;
	font-family: SideFont;
	display: none;
	z-index: 50;
	letter-spacing: 1px;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px 0px 8px 0px;
}

li.inactiveicon {
	background-image: url('icon_frame.png');
	width: 80px;
	height: 80px;
	opacity: 0.8;
}

li.inactiveicon a {opacity: 0.7;}
li.inactiveicon a:hover {opacity: 1.0;}

@keyframes slight_pulse {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1.0;
  }
}

li.activeicon {
	background-image: url('icon_frame_active.png');
	width: 80px;
	height: 80px;
	animation: slight_pulse 2.0s;
	animation-iteration-count:infinite;
	transform: translatey(-5px);
}

#headerblock ul a img {
	width: 56px;
	height: 56px;
	top: 12px;
	position: relative;
}

.poster {
	padding: 16px;
	background: linear-gradient(180deg, #fff 0%, #eae3d8 100%);
	box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

.maincontainer {
	background-color: #444;
	padding: 24px;
	border-left: 4px solid rgba(0, 0, 0, 0.5);
	border-top: 4px solid rgba(0, 0, 0, 0.5);
	background: url('posterpage_loop.png');
}

@keyframes logo_anim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes logo_anim_blur {
  0% { opacity: 0.0; }
  75% { opacity: 0.0; }
  76% { opacity: 1.0; }
  100% {
    opacity: 0;
  }
}

#wtdelogo {
	margin: auto;
	width: 480px;
	height: 480px;
	animation: logo_anim 4s cubic-bezier(0.37, 0, 0.63, 1) 0s infinite normal forwards;
}

#videodarken {
	background: linear-gradient(0deg, black, transparent);
	position: absolute;
	width: 100%;
	height: 100%;
}

#wtdelogo_blur, #wtdelogo_main {
	position: absolute;
	width: 100%;
	height: 100%;
}

#wtdelogo_blur {
	animation: logo_anim_blur 5s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite normal forwards;
}

#headerish {
	text-align:center;
	color: #bbb;
	font-size: 48px;
	font-family: SideFont;
	margin-bottom: 32px;
}

#thedate { font-size: 24px; font-family: monospace; font-weight: bold; }

#sociallinks a { text-decoration: none; }
#sociallinks { margin-bottom: 32px; margin: auto; text-align: center;}

.socialbutton {
	width: auto;
	height: 40px;
	line-height: 40px;
	position: relative;
	border-radius: 16px;
	transition: 0.5s;
	display: inline-flex;
	align-items: center;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 8px;
	padding-right: 16px;
	font-family: Lexend;
	font-size: 12pt;
	color: white;
}
.socialbutton:hover {transition: 0.5s;}

.socialbutton_content {
	display: flex;
	flex: 1 0 auto;
	justify-content: inherit;
	position: relative;
	align-items: center;
}

.socialbutton_content img {
	width: 40px; 
	height: 40px; 
	padding-right: 8px;
}

#discordbutton { background-color: #4477cc; }
#discordbutton:hover { background-color: #6699ee; }

#nexusbutton { background-color: #444; }
#nexusbutton:hover { background-color: #666; }

#gitgudbutton { background-color: #7825CB }
#gitgudbutton:hover { background-color: #925ACA }

.socialbutton_left{ width: 40px; height: 40px; }

/* -- WORDING -------------------------- */

.wording{ color: white; font-family: Lexend; text-align: center; }
.wording_sub { font-size: 16pt; margin-top: 8px; margin-bottom: 8px; }

.titlecard {
	font-family: CreditsMain; 
	text-align: center;
	width: 100%;
	background: url('titlecard_bg.png');
	background-repeat: no-repeat;
	background-position-x: center;
	
	height: 120px;
	margin: auto;
	line-height: 100px;
	color: white;
	font-size: 40pt;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
	transform: rotatez(0.5deg);
}

.picrow a { 
	background-color: #fff; 
	padding: 2px; 
	margin: 16px; 
	display: inline-block; 
	box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.2);
	opacity:0.6;
	border-radius: 2px;
}

.picrow a img { width: 200px;}
.picrow a:hover { opacity:1.0; padding: 3px; }

.picrow 
{ 
	text-align: center; 
	margin-top: 24px;
	margin-bottom: 24px;
}

.holster {
	padding: 16px;
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0px 0px 6px 12px rgba(255, 255, 255, 0.15);
	margin: 40px;
}

#legal {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 8px;
	color: white;
	opacity: 0.5;
	font-family: sans-serif;
	font-size: 10pt;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.0);
}

#block_about {
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	padding: 16px;
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.1);
	width: 80%;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	font-family: Lexend;
}

.bigheader {
	color: white;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 24px;
	font-size: 20pt;
	font-family: CreditsMain;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.inline_background {
	width: 90%;
	height: 200px;
	margin: auto;
	margin-top: 64px;
	margin-bottom: 64px;
	background-color: black;
	border-left: 2px solid rgba(0, 0, 0, 0.5);
	border-top: 2px solid rgba(0, 0, 0, 0.5);
	border-right: 2px solid rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px 4px 16px 16px;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.inline_background_text {
	line-height: 100px;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
	font-size: 60pt;
	font-family: SideFont;
	top: 25%;
	position: relative;
	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.9);
	width: 90%;
	margin: auto;
}

.featureholder {
	padding: 16px;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.05);
	margin: auto;
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2);
	margin-top: 48px;
	margin-bottom: 48px;
	min-height: 128px;
}

.featureleft {
	width: 20%;
	position: absolute;
}

.featureright {
	width: 80%;
	position: relative;
	left: 20%;
	color: white;
	font-family: Lexend;
	font-size: 11pt;
}

.featureheader {
	font-family: CreditsMain;
	margin-bottom: 8px;
	font-size: 16pt;
}

.otherfeatures {
	padding: 16px;
	width: 70%;
	background-image: url("Scroller/otherfeatures.jpg");
	background-size: cover;
	margin: auto;
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2);
	margin-top: 24px;
	margin-bottom: 24px;
	min-height: 16px;
	border-radius: 4px;
	position: relative;
}

#paperclip {
	background-image: url("Scroller/paperclip.png");
	width: 100px;
	height: 100px;
	position: absolute;
	right: 20px;
	top: -8px;
	background-size: cover;
	background-repeat: no-repeat;
}

#tape_1 {
	background-image: url("Scroller/tape_1.png");
	width: 128px;
	height: 64px;
	position: absolute;
	left: -48px;
	top: -40px;
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotatez(-10deg);
}

#tape_2 {
	background-image: url("Scroller/tape_2.png");
	width: 128px;
	height: 64px;
	position: absolute;
	right: -48px;
	bottom: -40px;
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotatez(-10deg);
}

.featureentry {
margin-top: 16px;
margin-bottom: 16px;
}

.featuresub { left: 16px; position: relative; font-family: Lexend; }

@keyframes ghol_scroll {
  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -3200px;
  }
}

.gameholder {
	margin-top: 48px;
	margin-bottom: 48px;
	background-color: black;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-left: 2px solid rgba(0, 0, 0, 0.5);
	border-top: 2px solid rgba(0, 0, 0, 0.5);
	border-right: 2px solid rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	background-image: url("Scroller/games_bg.jpg");
	border-radius: 16px;
	animation: ghol_scroll 100.0s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
}

.gameholder ul {
	list-style-type: none;
	padding-inline-start: 0px;
	text-align: center;
}

.bigsize {
	width: 200px;
	height: 200px;
	margin-block-start: 0px;
	display: inline-block;
}

.bigsize img { width: 100%; height: 100%; }

.halfsize {
	width: 200px;
	height: 100px;
	margin-block-start: 0px;
	display: inline-block;
	overflow: hidden;
}

.halfsize img { width: 100%; height: 200%; top: -50%; position: relative; }

#patience {
	width: 100%;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	margin-top: 32px;
	font-size: 13pt;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.indented {
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	border-left: 2px solid #222;
	border-top: 2px solid #222;
}

#videoholder {
	border-radius: 8px;
	background-color: black;
	position: relative;
	overflow: hidden;
}

#demoreel {
	width: 100%;
	position: absolute;
}
